[user]
    name        = R
    email       = r.hatchtag.design@gmail.com
    signingkey  = 31B62B57943C8F64

[commit]
    gpgsign  = true

[core]
    editor          = vim
    safecrlf        = false
    autocrlf        = true
    excludesfile    = ~/.gitignore_global
    attributesfile  = ~/.gitattributes_global

[color]
    ui = true

[color "status"]
    added       = blue bold
    changed     = red bold
    nobranch    = red dim
    header      = brightblack bold
    updated     = green bold
    untracked   = magenta bold

[color "grep"]
    match = green bold

[color "interactive"]
    help    = blue
    header  = green
    error   = red bold
    prompt  = normal dim

[color "diff"]
    old         = red
    new         = green
    meta        = magenta
    commit      = yellow
    frag        = blue bold
    plain       = brightblack bold
    whitespace  = normal reverse

[color "branch"]
    remote   = red dim
    plain    = normal dim
    local    = magenta dim
    current  = green bold

[fetch]
    prune = true

[push]
    default = current

[diff]
    tool = meld

[difftool]
    prompt = false

[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE" > /dev/null 2>&1

[merge]
    ff = true
    tool = meld
    conflictstyle = diff3

[mergetool "meld"]
    trustExitCode = true
    cmd = meld --diff "$BASE" "$LOCAL" --diff "$BASE" "$REMOTE" --diff "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED" > /dev/null 2>&1
    # cmd = meld "$BASE" "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED" > /dev/null 2>&1

[filter "media"]
    clean   = git-media-clean %f
    smudge  = git-media-smudge %f

[filter "hawser"]
    required    = true
    clean       = git hawser clean %f
    smudge      = git hawser smudge %f

[filter "lfs"]
    required    = true
    clean       = git-lfs clean %f
    smudge      = git-lfs smudge %f
